@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --primary: #0cc1e0;
    --primary2: #0ca7c3;
    --danger: #d24242;
    --danger2: #b43939;
    --info: #497feb;
    --info2: #4170cf;
    --success: #33b742;
    --success2: #299936;
    --dark: #000;
    --light: #fff;

    --shadow: #00000075;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

