.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 3px 0 var(--shadow);
}

.content-title {
    padding: 15px;
    border-radius: 15px 15px 0 0;
    background-color: var(--dark);
    color: var(--light);
}

.content-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
}