.task-add-form {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-add-input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border: 1px solid var(--shadow);
    border-radius: 10px 0 0 10px;
    outline: none;
}

.task-add-btn {
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: var(--light);
    background-color: var(--primary);
}
.task-add-btn:hover {
    background-color: var(--primary2);
}