.user-container {
    position: relative;
    display: inline-block;
}

.user-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: var(--light);
    background-color: transparent;
}

.user-name {
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}

.user-icon, .user-arrow, .user-arrow-rotate {
    font-size: 28px;
}

.user-arrow {
    transition: transform 0.2s;
}

.user-arrow-rotate {
    transform: rotate(180deg);
    transition: transform 0.2s;
}

