.task-filter {
    margin: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-filter-input {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    border: none;
    outline: none;
}