header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 20px;
    background-color: var(--dark);
    color: var(--light);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.logo-partial {
    color: var(--primary);
}

img {
    width: 24px;
    margin-right: 6px;
}