.task-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 15px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.task-list-none {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: auto;
}